@import "../variables.scss";

.button {
    background-color: $purple;
    padding: 10px 19px;
    border-radius: 25px;
    height: 50px;
    outline: none;
    border: 2px solid $purple;
    color: $white;
    display: inline-block;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    transition: 0.2s all;

    &:hover {
        background-color: $white !important;
        color: $purple;
        transition: 0.2s all;
    }

    .buttonChildren {
        margin: auto;
        display: inline-block;
        vertical-align: baseline;
    }
}

