@import "../variables.scss";

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.contactModal {
    width: 630px;
    max-width: 80%;
    background-color: $white;
    padding: 50px;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
    overflow-y: auto;
    position: relative;
    margin-top: 90px;  

    .contactHeader {
        @include h1();
        font-size: 30px;
    }

    .formTitle {
        @include text();
        font-weight: 400;
    }

    .inputField , .textarea{
        width: 100%;
        border: none;
        border-bottom: 1px solid $purple;
        outline: none;
        margin-bottom: 20px;
        @include text();
        color: $dark-grey;

        &:focus {
            background-color: rgba($purple, 0.02);
            box-shadow: 0 5px 12px -12px $purple;
        }
    }

    .textarea {
        resize: none;
    }
    @media only screen and (max-width: 600px) {
        margin: auto;
        width: 400px;
    }
}

.modalOverlay {
    display: flex;
    align-items: center;
    justify-content: center;  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.main {
    display: flex;
    min-width: 450px;
    padding: 0 40px;
    @include text;
    vertical-align: middle;
    height: inherit;

    @media only screen and (max-width: 600px) {
        display: block;
        padding: 0 10%;
        width: 100%;
        min-width: 0;
        margin-top: 70px;
    }
    
    .left {
        display: flex;
        text-align: left;
        width: 55%;
        flex-direction: column;
        align-self: center;
      
        @media only screen and (max-width: 600px) {
            display: block;
            width: 100%;
            margin-top: 30px;
            margin-bottom: 40px;
            padding: 0;
        }

        .title {
            @include h1;
            font-weight: 400;
            letter-spacing: -1px;
        }
    
        .bodytext {
            margin-top: 16px;
            margin-bottom: 16px;   
        }

        .buttons {
            display: block;
        }
    
        .contact {
            display: inline-block;
            margin-top: 10px;
            z-index: 4;
        }
    
        .join {
            display: inline-block;
            margin-left: 20px;
    
            @media only screen and (max-width: 600px) {
                display: inline-block;
                margin-left: 20px;
            }
    
            @media only screen and (max-width: 374px) {
                margin-left: 0;
                margin-top: 20px;
            }    
        }    
    }

    .right {
        width: 40%;
        max-width: 350px;
        margin-left: 50px;
        position: relative;

        @media only screen and (max-width: 767px) {
            margin-top: 50px;
        }

        @media only screen and (max-width: 600px) {
            display: block;
            width: 70%;
            margin: 20px auto;
            margin-bottom: 100px;
        }

        .sensor1, .sensor2, .sensor3 {
            position: absolute;
            display: block;
            left: 0;
            transition: 1.2s all;
            width: 100%;
            user-select: none;

            &:hover {
                transition: 1.2s all;
            }
        }
    
        .sensor1 {
            z-index: 3; 
            top: calc(50%);
            transform: translateY(-110%);

            &:hover {
                transform: translateY(calc(-55px - 110%));
            }

            @media only screen and (max-width: 600px) {
                top: 0;
                transform: translateY(10%);
                &:hover {
                    transform: translateY(calc(-55px + 10%));
                }
            }    
        }
    
        .sensor2 {
            z-index: 2;
            top: 50%;
            transform: translateY(-50%);

            &:hover {
                transform: translateY(calc(-55px - 50%));
            }

            @media only screen and (max-width: 600px) {
                top: 0;
                transform: translateY(50%);
                &:hover {
                    transform: translateY(calc(-55px + 50%));
                }
            }    
        }
    
        .sensor3 {
            z-index: 1;
            top: 50%;
            transform: translateY(10%);

            &:hover {
                transform: translateY(calc(-55px + 10%));
            }

            @media only screen and (max-width: 600px) {
                top: 0;
                transform: translateY(95%);
                &:hover {
                    transform: translateY(calc(-55px + 95%));
                }
            }    
        }    
    }
}

