$purple: #2B009E;
$dark-grey: #252525;
$medium-grey: rgb(145, 145, 145);
$white: #FFFFFF;

@mixin text {
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 15px;
    line-height: 2.0;
}

@mixin h1 {
    font-family: 'Rubik';
    font-weight: 400;
    color: $purple;
    font-size: 40px;
    margin: auto 0 16px 0;
    line-height: 1.0;
}