$purple: #2B009E;
$dark-grey: #494949;
$medium-grey: rgb(145, 145, 145);
$white: #FFFFFF;

@mixin text {
    font-family: 'Nunito Sans';
    font-weight: 300;
    font-size: 17px;
    line-height: 2.0;
    color: $dark-grey;
}

@mixin h1 {
    font-family: 'Nunito Sans';
    font-weight: 600;
    color: $purple;
    font-size: 40px;
    margin: 0 0 16px 0;
    line-height: 1.0;
}